* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffef96;
}

h1 {
  color: #50394c;
  text-align: center;
}

label, input {
  display: block;
}

label {
  margin-bottom: 2px;
}

input {
  margin-bottom: 5px;
}

.jumbotron {
  background-color: #b2b2b2;
}

.meal-card {
  border: 1px solid #50394c;
  border-radius: 5px;
  margin: 5px 0;
  padding: 3px;
  background-color: #f4e1d2;
  color: black;
}
